<?php
    $user = $_SESSION['user'];
    /*
     * Assuming
     * user = [
     *     id => integer
     *     name => string
     *     email => string
     * ];
     * */
    $userId = $user->id;

    /*
     * Assuming
     * Item = [
     *     id => integer
     *     text => string
     *     description => string
     * ];
     * */
    $itemsActive = DB::select("SELECT * FROM t_item WHERE user_id = $userId AND status = true ORDER BY id")->get()->all();
    $itemsActiveJson = json_encode($itemsActive);

    $itemsDeleted = DB::select("SELECT * FROM t_item WHERE user_id = $userId AND status = false ORDER BY id")->get()->all();
    $itemsDeletedJson = json_encode($itemsDeleted);
?>
<html>
    <body>
        <script
            src='https://code.jquery.com/jquery-3.3.1.min.js'
            integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
            crossorigin='anonymous'></script>

        <!--To test just the load on the facs-box without deleted-->
        <!--<script>-->
            <!--var userId = '1';-->
            <!--var itemsActive = '[{"id": 10, "text":"1", "description": "asd"}]';-->
            <!--var itemsDeleted = '[]';-->
        <!--</script>-->

        <!--To test just the load on the facs-box-deleted without the items-->
        <!--<script>-->
            <!--var userId = '1';-->
            <!--var itemsActive = '[]';-->
            <!--var itemsDeleted = '[{"id": 3491, "text":"1", "description": "asd"}, {"id": 3492, "text":"2", "description": "asd"}, {"id": 3493, "text":"3", "description": "asd"}]';-->
        <!--</script>-->

        <!--To test both loads-->
        <!--<script>-->
            <!--var userId = '1';-->
            <!--var itemsActive = '[{"id": 3494, "text":"4", "description": "asd"}, {"id": 3495, "text":"5", "description": "asd"}, {"id": 3496, "text":"6", "description": "asd"}]';-->
            <!--var itemsDeleted = '[{"id": 3491, "text":"1", "description": "asd"}, {"id": 3492, "text":"2", "description": "asd"}, {"id": 3493, "text":"3", "description": "asd"}]';-->
        <!--</script>-->

        <!--To test both empty-->
        <!--<script>-->
            <!--var userId = '1';-->
            <!--var itemsActive = '[]';-->
            <!--var itemsDeleted = '[]';-->
        <!--</script>-->

        <!--Php should funcion using this-->
        <script>
            var userId = '<?php echo $userId ?>';
            var itemsActive = '<?php echo $itemsActiveJson ?>';
            var itemsDeleted = '<?php echo $itemsDeletedJson ?>';
        </script>

        <style>
            .hidden {
                display: none !important;
            }

            .facs-button-active {
                padding: 10px;
                border: 1px solid #760ee8;
                background-color: transparent;
                width: 100px;
                margin-bottom: 10px;
            }

            .facs-item {
                padding: 10px;
                border: 1px solid #760ee8;
                background-color: transparent;
                margin-bottom: 10px;
            }

            .facs-item-selected {
                padding: 10px;
                border: 1px solid #760ee8;
                background-color: #760ee8;
                margin-bottom: 10px;
                color: white;
            }

            .facs-button-disabled {
                padding: 10px;
                border: 1px solid #565656;
                background-color: #c5bfbf;
                width: 100px;
            }

            .facs-flex {
                display: flex;
                flex-direction: row;
            }

            .facs-box {
                padding: 5px;
                border: 1px solid #760ee8;
                background-color: transparent;
                min-height: 300px;
                max-width: 50%;
                margin-bottom: 10px;
                display: inline-block;
                flex-grow: 1;
                height: 400px;
                max-height: 400px;
                overflow: auto;
            }

            #items-deleted {
                margin-left: 10px;
            }

        </style>
        <div class='facs-flex'>
            <div id='items' class='facs-box'>
            </div>
            <div id='items-deleted' class='facs-box hidden'>
            </div>
        </div>
        <!--// Putting the buttons inside divs so they will be one above the other-->
        <div>
            <button id='add-button' class='facs-button-active'>
                Add item
            </button>
        </div>
        <div>
            <button id='delete-button' disabled class='facs-button-disabled hidden'>
                Delete item
            </button>
        </div>
        <!--/* Didnt know if i had to use relative or absolute path-->
         <!--* so i will make it relative-->
         <!--* since javascript mostly is available from the root URL */-->
        <script type='text/javascript' src='/ui.js'></script>

        <!--Or you can use the file directly on root-->
        <!--script type='text/javascript' src='ui.js'></script>-->
    <body>
</html>
